.Button {
    background-color: rgb(9, 109, 156);
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: opacity 0.2s;
}

.Button:hover {
    opacity: 0.7;
}